{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-organize-imports"],
    "attributeGroups": ["$VUE_ATTRIBUTE", "$DEFAULT"],
    "attributeSort": "ASC"
}
