@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: #EEEEEE;
}

main {
    margin-top: 56px;
}

/* Header */
#nav-container * {
    font-weight: bolder;
    color: #F02B73;
}

.header {
    background-image: url("/images/ecolla-shop.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115px;
    color: white;
    font-size: 35px;
    height: 40vh;
    text-align: center;
}

.header-highlighted-text {
    color: #F02B73;
    display: inline;
}

/* Footer */
.footer-font-color {
    color: white;
}

.footer-hr {
    border: 0;
    border-top: 2px solid #F02B73;
    width: 90px;
    margin: 0 0 20px;
}

.footer-content-bg {
    background-color: #3c3e44;
}

.footer-logo-bg {
    background-color: #303136;
}

/* WhatsApp Button */
.whatsapp-button {
    width: 60px;
    height: 60px;
    background: #2fe577;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    transition: background 0.25s;
    outline: blue;
    border: none;
    cursor: pointer;
}

.whatsapp-button:active {
    background: grey;
}
