@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~tiny-slider/dist/tiny-slider.css";

@import "./header.css";
@import "./footer.css";
@import "./whatsapp-button.css";
@import "./item-carousel.css";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

main {
    margin-top: 56px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
